*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Ms Madi', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1px ;
    position: fixed;
    margin: 20px;
}
nav{
    flex: 1;
    text-align: right;
    float: right;
}
